<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Birthday</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
        <h1>BIRTHDAY</h1>
        <h3>What Are You Looking For?</h3>
        <div class="content">
            <a  href="/add"><button class="btn">Add</button></a>
            <a  href="/search"><button class="btn">Search</button></a>
            <a  href="/delete"><button class="btn">Delete</button></a>
            <a  href="/everyone"><button class="btn">Everyone</button></a>
            <a  href="/closest-birthday"><button class="btn">Closest Birthday</button></a>
        </div>
        </div>
    </body>
</html>