<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Birthday</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1>Search birthday</h1>
                <form action="/search" method="post">
                    <div class="form">
    
                        <label for="nameBox">Name:</label>
                        <input type="text" id="nameBox" name="name">
                    </div>
                    <input type="submit" value="Search">
                </form>
            <a href="/"><button  class="back-btn" >Back to Home</button></a>
        </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>